{% extends "base.html" %}

{% block content %}

    <center><strong>{{ request.user.username|upper }}'S FEED!</strong></center>
    
    <form method="post" action="{% url 'feed' %}">
        {% csrf_token %}
        <strong>ORDER BY: </strong>
        <select name="order_by">
            <option value="latest">LATEST</option>
            <option value="popular">MOST POPULAR</option>
            <option value="latest_following">LATEST FOLLOWING</option>
            <option value="popular_following">MOST POPULAR FOLLOWING</option>
        </select>
        <input type="submit" value=SUBMIT class="myButton">
    </form>

    <table class="table" style="text-align:center">
        <tr>
            <th>TEXT</th>
            <th>LIKES</th>
            <th>POSTED BY</th>
            <th>DATE</th>
        </tr>
        {% for item in text %}
        <tr> 
            <td>{{ item.shout_text }}</td>
            <td>{{ item.likes }}</td>
            <td> <a href="{% url 'profile' item.user.get_username %}">{{ item.user.get_full_name|default:item.user.username|upper|urlize }}</a></td>
            <td>{{ item.pub_date|date:"D d M Y H:i"|upper }}</td>
        </tr>
        {% endfor %}
{% endblock %}