<!doctype html>
<html>
    <head>
            <title>SHOUTER!</title>
        <meta charset="utf-8">
        <meta name="description"content="SHOUT IT!">
        <meta name="viewport"content="width=device.width, initial-scale=1">
    </head>
    <body>
        <div class="container">
            <header>
                <div class="WELCOME">
                    {% if request.user.is_authenticated %}
                        <center><strong>SHOUTER!</strong></center>
                    {% else %}
                        <center><strong>WELCOME GUEST!</strong></center>
                    {% endif %}
                </div>
            </header>

            <nav>
                <center><a href="{% url 'feed' %}">FEED</a></center>
                {% if user.is_authenticated %}
                <center><a href="{% url 'profile' user.username %}">PROFILE</a></center>
                <center><a href="{% url 'new_post' %}">NEW POST</a></center>
                <center><a href="{% url 'logout_user' %}">LOGOUT</a></center>
                {% else %}
                <center><a href="{% url 'login_user' %}">LOGIN</a></center>
                {% endif %}
            </nav>


            <main>
                {% block content %}{% endblock %}
            </main>

            <footer>

            </footer>
        </div>
    </body>
</html>