{% extends "base.html" %}

{% block content %}

    {% if profile_found %}
    <center><strong>{{ request.path|upper|slice:'9:' }}'S PROFILE!</strong></center>

    {% ifnotequal request.path|slice:'9:' request.user.username %}
        <center><strong><a href="{% url 'follow_user' request.path|slice:'9:' %}">FOLLOW</strong></a></center>
    {% endifnotequal %}

    <table class="table" style="text-align:center">
            <tr>
                <th>TEXT</th>
                <th>LIKES</th>
                <th>DATE</th>
            </tr>
            {% for item in text %}
            <tr> 
                <td>{{ item.shout_text }}</td>
                <td>{{ item.likes }}</td>
                <td>{{ item.pub_date|date:"D d M Y H:i"|upper }}</td>
            </tr>
            {% endfor %}
    {% else %}
        <center><strong>PROFILE NOT FOUND</strong></center>
    {% endif %}
{% endblock %}
